<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= base0_app_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller.controller_name %>">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= main_app.root_path %>"><%= base0_app_title %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <%= render partial: '/layouts/eac_rails_base0/main_menu' %>
          <%= render partial: '/layouts/eac_rails_base0/navbar_user' %>
        </div>
      </div>
    </nav>
    <div class="container" >
      <%= render partial: '/layouts/eac_rails_base0/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
